/* Navbar */
.navbar.navbar-expand-lg {
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  font-weight: bold;
}

.navbar.navbar-expand-lg .navbar-brand,
.navbar.navbar-expand-lg .nav-link {
  color: #000;
}
