/*Global*/
body {
  height: 100%;
  margin: 0;
  /* Gradient background using modern colors */
  background: radial-gradient(circle, #84fab0 0%, #8fd3f4 100%);

  /* background: radial-gradient(circle, #3fc1c9 0%, #c491ca 100%); */
  font-family: 'Arial', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

button {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/*Home headers*/
.header-title {
  font-weight: bold;
  font-size: 3rem;
  color: #000;
  text-align: center; /* Center the title */
  margin-bottom: 30px; /* Space below the title */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
  letter-spacing: 1px; /* Slightly increased letter spacing */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.header-subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000; /* Deep, elegant color */
  text-align: center; /* Center the title */
  margin-bottom: 30px; /* Space below the title */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
  letter-spacing: 1px; /* Slightly increased letter spacing */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.hidden-file-input {
  display: none;
}

.btn.btn-primary.btn-lg.upload-button {
  border-radius: 0.75rem;
  height: 5.0rem;
  width: 17.0rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.upload-button:hover {
  transform: translateY(-2px); 
}

.navbar.navbar-expand-lg {
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px; /* Adjust padding as needed */
  font-weight: bold;
  color: white; /* White text color */
}

.navbar.navbar-expand-lg .navbar-brand,
.navbar.navbar-expand-lg .nav-link {
  color: #000000; /* Ensure links and brand text are white */
}

/*YAML editor*/
.editor {
  font-family: "Fira code", "Fira Mono", monospace;
  background-color: #fbfbfb;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.alert {
  margin-top: 20px;
}

/*YAML attributes*/
.form-control.custom-input {
  background: #fbfbfb;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
}

.form-group label.bold {
  font-weight: bold;
}

.form-group label.regular {
  font-weight: normal;
}

.top-level-attributes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.top-level-attributes .form-control.name-kind {
  width: 196px; /* Increase width for name and kind */
}

.top-level-attributes .form-control.num-sampler {
  width: 100px; /* Width for num_trials and sampler */
}

.nested-attributes {
  padding-left: 20px;
}

/*Execute buttons*/
.mlflowButton {
  height: 3rem;
  width: 6rem;
  font-weight: bold;
}

.btn.btn-primary.executeButton {
  margin: 0px 10px 0px 10px;
  height: 3rem;
  width: 10rem;
  font-weight: bold;
}

.btn.btn-danger.cancelButton {
  height: 3rem;
  width: 6rem;
  font-weight: bold;
}

/*Terminal*/
.terminal {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: auto;
  text-align: left;
  scrollbar-color: #fff #333;
  scrollbar-width: hide;
}

/*About*/
.about-box {
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #dee2e6; /* Soft border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Space inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 20px; /* Space below the box */
  transition: transform 0.2s ease-in-out; /* Animation effect */
}

.container .about-box a {
  color: #003366;
  font-weight: 600; 
  text-decoration: underline; 
  transition: color 0.2s ease, background-color 0.2s ease;
}

.container .about-box a:hover {
  background-color: #e6f7ff;
}

.about-box h2,
.about-box h3 {
  color: #343a40; /* Darker color for headings */
  font-weight: 600; /* Bolder headings */
}

.about-box p,
.about-box li {
  color: #495057; /* Standard text color */
  line-height: 1.6; /* Improved readability */
}

.about-box a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove underline from links */
}

.about-box a:hover {
  text-decoration: underline; /* Underline on hover */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Contacts*/
.contact-title {
  font-size: 2.5rem; 
  font-weight: 700;
  color: #000;
  text-align: center; 
  margin-bottom: 30px; 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
  letter-spacing: 1px; 
  transition: color 0.3s ease; 
}

.contact-title:hover {
  color: #1abc9c; /* Change color on hover */
}

.contact-box {
  background-color: #f1f3f5; /* Light gray background */
  border: 1px solid #ced4da; /* Soft border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Space inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 20px; /* Space below each box */
  transition: transform 0.2s ease-in-out; /* Animation effect */
}

.contact-box:hover {
  transform: translateY(-5px); /* Lift the box slightly on hover */
}

.contact-content {
  display: flex; /* Use flexbox to arrange image and text side by side */
  align-items: center; /* Center items vertically */
}

.contact-image {
  width: 80px; /* Image width */
  height: 80px; /* Image height */
  border-radius: 50%; /* Make the image circular */
  margin-right: 16px; /* Space between image and text */
}

.contact-text h3 {
  color: #343a40; /* Darker color for the heading */
  font-weight: 600; /* Bolder heading */
  margin-bottom: 8px; /* Space below the heading */
}

.contact-text p {
  color: #495057; /* Standard text color */
  font-size: 14px; /* Consistent text size */
  line-height: 1.5; /* Improved readability */
  margin: 0; /* Remove default margin */
}

/*footer*/
.footer {
  padding: 0.5rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  margin-top: 0.5rem; /* Adjust the top margin as needed */
}