/*Global*/
body {
  /* Gradient background using modern colors */
  background: radial-gradient(circle, #3fc1c9 0%, #8193a8 100%);
  font-family: 'Arial', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/*Home headers*/
.header-title {
  font-weight: bold;
  font-size: 3rem;
}

.header-subtitle {
  font-size: 1.4rem;
}

.hidden-file-input {
  display: none;
}

.btn.btn-primary.btn-lg.upload-button {
  border-radius: 0.75rem;
  height: 5.0rem;
  width: 17.0rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.upload-button:hover {
  transform: translateY(-2px); 
}

.navbar.navbar-expand-lg {
  background-color: #3fc1c9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px; /* Adjust padding as needed */
}

/*YAML editor*/
.editor {
  font-family: "Fira code", "Fira Mono", monospace;
  background-color: #fbfbfb;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.alert {
  margin-top: 20px;
}

/*YAML attributes*/
.form-control.custom-input {
  background: #fbfbfb;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
}

.form-group label.bold {
  font-weight: bold;
}

.form-group label.regular {
  font-weight: normal;
}

.top-level-attributes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.top-level-attributes .form-control.name-kind {
  width: 196px; /* Increase width for name and kind */
}

.top-level-attributes .form-control.num-sampler {
  width: 100px; /* Width for num_trials and sampler */
}

.nested-attributes {
  padding-left: 20px;
}

/*Execute buttons*/
.btn.btn-primary.executeButton {
  margin: 0px 5px 0px 0px;
  height: 3rem;
  width: 6rem;
  font-weight: bold;
}

.cancelButton {
  height: 3rem;
  width: 6rem;
  margin: 0px 0px 0px 5px;
  font-weight: bold;
}

/*Terminal*/
.terminal {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: auto;
  text-align: left;
  scrollbar-color: #fff #333;
  scrollbar-width: hide;
}
